#tabs-container {
  width: 400px;
  height: 300px;
}

#tabs-container .tabs-nav, #tabs-container .tabs-tab {
  margin: 0;
  padding: 0;
}

#tabs-container .tabs-tab {
  float: left;
  list-style: none;
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ccc;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#tabs-container .tab-clicked {
  background: #fff;
  border-bottom: -1px solid #fff;
}

.tabs-bar {
  width: 100%;
  height: 50px;
}

.tabs-content {
  width: 100%;
  height: 240px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.tabs-panel {
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: justify;
}